﻿@using Microsoft.AspNetCore.Http
@model ForumModel

@{
    ViewData["Title"] = "Home";
}
<head>
    <link href="/assets/css/index.css" rel="stylesheet" !important>
</head>
<br />
<br />
<br />
<body>
    <h1 class="centerlize">Share Ideas Forum</h1>
</body>




