﻿<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/alpha31.css" rel="stylesheet">
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
</head>
<body>
    <button class="glow-on-hover" type="button" onclick="window.close()">Success</button>
</body>
</html>