﻿@using Forum.Data.Models
@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/css/index.css" rel="stylesheet" !important>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item">
            <img src="/assets/img/giphy.gif" style="width: 100px; height: 120px; margin-top:-10px; margin-left:70px">
                <form asp-controller="profile" asp-action="edit" style="text-align:start" margin-left:20px;">      
                    <input asp-for="@Model.Id" hidden />
                    <input asp-for="@Model.Categories" hidden />
                    <input asp-for="@Model.Comments" hidden />
                    <input asp-for="@Model.CreatedOn" hidden />
                    <input asp-for="@Model.Posts" hidden />
                    <input asp-for="@Model.ProfileUrl" hidden />
                    <input asp-for="@Model.RoleId" hidden />           
                    <input asp-for="@Model.Username" hidden />
                    <label asp-for="@Model.DisplayName" class="centerlize" style="color:white; font-size:22px">Display Name: </label>
                    <input asp-for="@Model.DisplayName" class="form-control" />
                    <br />
                    <br />
                    <label asp-for="@Model.Password" class="centerlize" style="color:white; font-size:22px">Password: </label>
                    <input type="password" asp-for="@Model.Password" class="form-control" />             
                    <br />
                    <br />
                    <label asp-for="@Model.Email" class="centerlize" style="color:white; font-size:22px">Email: </label>
                    <input type="email" asp-for="@Model.Email" class="form-control" />               
                    <br />
                    <br />
                    <button type="submit" class="centerlize" style="margin-left:100px; background-color:cornflowerblue; color:white; font-size:22px"/>Edit</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    }
</script>
</html>



