﻿@using Forum.WebAPI.Models.WebModels
@model CommentWebModel

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/football.css" rel="stylesheet">
</head>
<body>
    <form controller="post" action="sendComment?postId=@Model.PostId"  style="text-align:end">
        <div>
            <label asp-for="Content" class="centerlize" style="color:white; font-size:22px">Content: </label>
            <br />
            <input asp-for="Content" style="-moz-text-align-last:auto; color:cornflowerblue; font-size:12px; width:510px; height:100px" placeholder="Write something here" />
            <input asp-for="PostId" hidden value="@Model.PostId"/>
        </div>
        <button type="submit" onsubmit="window.open('index')" class="centerlize" style="background-color:cornflowerblue; color:white ;font-size:22px">Send</button>
    </form>
</body>
</html>



