﻿@using Forum.WebAPI.Models.WebModels
@model PostWebModel

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/football.css" rel="stylesheet">
</head>
<body>

    <form controller="post" action="sendPost?categoryId=@Model.CategoryId"  style="text-align:end">
        <div>
            <label asp-for="@Model.Title" class="centerlize" style="color:white; font-size:22px">Title: </label>
            <br />
            <input asp-for="@Model.Title" style="-moz-text-align-last:auto; color:cornflowerblue; font-size:12px; width:510px; height:30px" placeholder="Write something here" />
            <br />
            <label asp-for="@Model.Content" class="centerlize" style="color:white; font-size:22px">Content: </label>
            <br />
            <input asp-for="@Model.Content" style="-moz-text-align-last:auto; color:cornflowerblue; font-size:12px; width:510px; height:100px" placeholder="Write something here" />
          <input asp-for="CategoryId" hidden value="@Model.CategoryId"/>
        </div>
        <button type="submit" class="centerlize" style="background-color:cornflowerblue; color:white ;font-size:22px">Send</button>
    </form>
</body>
</html>



