﻿
<head>
    <link href="/assets/css/index.css" rel="stylesheet" !important />
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
</head>
<h2 style="color:antiquewhite; margin-block-end:auto">Your comment was sent.</h2>
    <button class="glow-on-hover" type="button" onclick="window.close()" style="bottom:440px; right:120px; font-size:27px; font-family:'Agency FB'">Ok
    </button>

