﻿@using Forum.Service.Helpers
@model AuthenticateRequest
@{
    ViewData["Title"] = "Login";
    ViewData["Action"] = "SendCredentials";
    ViewData["ButtonValue"] = "SendCredentials";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/index.css" rel="stylesheet">
</head>
<body>
    <form asp-action="@ViewData["Action"]" style="text-align:start">
        <div>
            <label asp-for="@Model.Username" class="centerlize" style="color:white; font-size:22px">Username: </label>
            <input asp-for="@Model.Username" class="form-control" />
            <br />
            <br />
            <label asp-for="@Model.Password" class="centerlize" style="color:white; font-size:22px">Password: </label>
            <input type="password" asp-for="@Model.Password" class="form-control" />
        </div>
            <br />
            <br />
        <button type="submit" value="@ViewData["ButtonValue"] " class="centerlize" style="background-color:cornflowerblue; color:white ;font-size:22px" >Login</button>

    </form>
</body>
</html>



