﻿@using Forum.MVC.Models
@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/alpha31.css" rel="stylesheet">
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
</head>
<body>
</body>
<div class="centerlize" style="font-size:32px"><a>@Model.Message</a></div>
</html>