﻿@using Forum.MVC.Models
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/index.css" rel="stylesheet">
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
</head>
<body>
      <button class="glow-on-hover" type="button" onclick="location.replace('https://localhost:5001/')">Home</button></li>
    @{
        var url = $"https://localhost:5001/Home/ErrorMessage?Content={@Model.Message}";
    }
    <img src="/assets/img/dinoEx.png" onclick="createPopupWin('@url', 'Content', 300, 150, 1350,200)" type="button" style="margin-right:390px; width:500px; height:400px; right:200px; font-family:'Agency FB'; font-size:120px;font-weight:900;" />
</body>
  <script type="application/javascript">
        function createPopupWin(pageURL, pageTitle,
                        popupWinWidth, popupWinHeight) {
                var left = (screen.width - popupWinWidth) / 2;
                var top = (screen.height - popupWinHeight) / 4;

                var myWindow = window.open(pageURL, pageTitle,
                        'resizable=no, width=' + popupWinWidth
                        + ', height=' + popupWinHeight + ', top='
                        + top + ', left=' + left);
            }
      </script>
</html>