﻿@using Forum.Data.Models
@model User
<head>
    <link href="/assets/css/index.css" rel="stylesheet" !important />
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
</head>
    <button class="glow-on-hover" type="button" onclick="window.close()" style="bottom:440px; right:120px; font-size:27px; font-family:'Agency FB'">Wellcome
    <span class="centerlize">@Model.DisplayName.Split().FirstOrDefault()</span>
    </button>
