﻿@using Forum.Data.Models
@model User
@{
    ViewData["Title"] = "Register";
    ViewData["Action"] = "RegisterUser";
    ViewData["ButtonValue"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/index.css" rel="stylesheet">
</head>
<body>
    <h1 class="centerlize" style="font-size:33px; right:10px">Register:</h1>
    <form asp-action="@ViewData["Action"]" style="text-align:start">
        <div class=centered style="text-align:end; margin-right:270px">
            <label asp-for="@Model.Username" class="centerlize" style="color:white; font-size:22px">Username: </label>
            <input asp-for="@Model.Username" class="form-control" />
            <br />
            <label asp-for="@Model.Password" class="centerlize" style="color:white; font-size:22px">Password: </label>
            <input type="password" asp-for="@Model.Password" class="form-control" />
            <br />
            <label asp-for="@Model.DisplayName" class="centerlize" style="color:white; font-size:22px">Nickname: </label>
            <input asp-for="@Model.DisplayName" class="form-control" />
            <br />
            <label asp-for="@Model.Email" class="centerlize" style="color:white; font-size:22px">Email: </label>
            <input type="email" asp-for="@Model.Email" class="form-control" />
            <br />
            <br />
            <button type="submit" value="@ViewData["ButtonValue"] " class="centerlize" style="background-color:cornflowerblue; color:white ;font-size:22px">Enjoy</button>
        </div>

    </form>
</body>
</html>


