﻿<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/index.css" rel="stylesheet">
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
</head>
<body>
      <button class="glow-on-hover" type="button" onclick="window.close()" style="right:220px; top:-20px; font-family:'Agency FB'; font-size:22px;font-weight:100;">try again</button>
</body>
</html>