﻿@using Microsoft.AspNetCore.Http
@model ForumModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Share Ideas</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lineicons/style.css">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">
    <script src="~/assets/js/chart-master/Chart.js"></script>
</head>
<body>
    <section id="container">
        @*refresh*@

        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Forum categories"> Categories</div>
            </div>
            <!--logo start-->
            <a style="color:dimgray; font-family:'Franklin Gothic'; font-size:22px" href="index.html" class="logo"><b></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            </div>
            @if (!this.Context.Session.Keys.Contains("Token"))
            {
                <div class="top-menu">

                    <ul class="nav pull-right top-menu">
                        <li><button class="glow-on-hover" type="button" onclick="createPopupWin('login/credentials','Login', 550, 250, 1350, 550)">Login</button></li>
                    </ul>
                    <ul class="nav pull-right top-menu">
                        <li><button class="glow-on-hover" type="button" style="left:-30px" onclick="createPopupWin('login/register','Register', 750, 350, 1350, 550)">Sign up</button></li>
                    </ul>
                    <ul class="nav pull-right top-menu">
                        <li>
                            <button class="glow-on-hover" type="button" onclick="createPopupWin('https://localhost:5001/swagger','Login', 800, 350, 1350, 350)" style="right:380px ">Swagger</button>
                        </li>
                    </ul>
                </div>
            }
            else
            {
               <div class="top-menu">
                    <form action='https://localhost:5001/login/logout' method='GET')">
                        <ul class="nav pull-right top-menu">
                            <li><button class="glow-on-hover" type="submit">Logout</button></li>
                        </ul>
                    </form>
                    <ul class="nav pull-right top-menu">
                        <li><button class="glow-on-hover" type="button" onclick="createPopupWin('https://localhost:5001/profile/index?id=@Model.UserId','Login', 700, 400, 1350, 550)" style="right:50px">Profile</button></li>
                    </ul>
                    <ul class="nav pull-right top-menu">
                        <li>
                            <button class="glow-on-hover" type="button" onclick="createPopupWin('https://localhost:5001/swagger','Login', 800, 350, 1350, 350)" style="right:380px ">Swagger</button>
                        </li>
                    </ul>
                </div>
            }
        </header>
        <!--header end-->
        <div class="container">
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    @{
                        var png = Model.CategoryName.ToLower().Replace(" ", String.Empty) + ".png";
                        <li class="centered" onclick=window.open('https://localhost:5001/home')><img src="~/assets/img/@png" title="Home" class="img-circle" width="90"></li>
                        var categories = Model.Categories.OrderBy(x => x.Id).ToList();
                        if (@Model.CategoryName != "Index")
                        {
                            var first = categories.FirstOrDefault(x => x.Title == @Model.CategoryName);
                            categories.Remove(first);
                            categories.Insert(0, first);
                        }

                        foreach (var category in categories)
                        {
                            var title = category.Title.Replace(" ", String.Empty);
                            <li class="sub-menu">
                                <a href="@title">
                                    <h1 style="font-size: 25px; font-family: 'Agency FB'; color: #d1f9d1;">@category.Title</h1>
                                </a>
                                <ul class="sub">
                                    <li><a href="https://localhost:5001/Categories/Index?category=@category.Title&page=1">Posts: @category.Posts.Where(x=>x.Category.Title == @category.Title).Count() </a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
            @RenderBody()
            <footer class="site-footer">
                <div class="text-center">
                    Share your ideas with us.
                    <a href="https://gitlab.com/asp-project/forum" class="go-top">
                        <i class="fa fa-space-shuttle"></i>
                    </a>
                </div>
            </footer>
        </div>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/jquery-1.8.3.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="assets/js/jquery.sparkline.js"></script>


        <!--common script for all pages-->
        <script src="assets/js/common-scripts.js"></script>

        <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
        <script type="text/javascript" src="assets/js/gritter-conf.js"></script>

        <!--script for this page-->
        <script src="assets/js/sparkline-chart.js"></script>
        <script src="assets/js/zabuto_calendar.js"></script>


        <script type="application/javascript">
                $(document).ready(function () {
                    $("#date-popover").popover({html: true, trigger: "manual"});
                    $("#date-popover").hide();
                    $("#date-popover").click(function (e) {
                        $(this).hide();
                    });

                    $("#my-calendar").zabuto_calendar({
                        action: function () {
                            return myDateFunction(this.id, false);
                        },
                        action_nav: function () {
                            return myNavFunction(this.id);
                        },
                        ajax: {
                            url: "show_data.php?action=1",
                            modal: true
                        },
                        legend: [
                            {type: "text", label: "Special event", badge: "00"},
                            {type: "block", label: "Regular event", }
                        ]
                    });
                });

                       function createPopupWin(pageURL, pageTitle,
                        popupWinWidth, popupWinHeight) {
                var left = (screen.width - popupWinWidth) / 2;
                var top = (screen.height - popupWinHeight) / 4;

                var myWindow = window.open(pageURL, pageTitle,
                        'resizable=yes, width=' + popupWinWidth
                        + ', height=' + popupWinHeight + ', top='
                        + top + ', left=' + left);
            }

                function myNavFunction(id) {
                    $("#date-popover").hide();
                    var nav = $("#" + id).data("navigation");
                    var to = $("#" + id).data("to");
                    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
                }
        </script>
        @RenderSection("Scripts", required: false)
    </section>
</body>
</html>
