﻿@model ForumModel

@{
    ViewData["css"] = $"{@Model.CategoryName.ToLower().Replace(" ", String.Empty)}" + ".css";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <meta http-equiv="refresh" content="10">

    <title>Share Ideas</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lineicons/style.css">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">
    <script src="~/assets/js/chart-master/Chart.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.js"></script>
    <link href="/assets/css/@ViewData["css"]" rel="stylesheet" !important>
    <link href="/assets/css/logbutton.css" rel="stylesheet" />
</head>
<section id="container">
    <br />
    <br />
    <br />
    <p class="centerlize">@Model.CategoryName</p>
    @{

        var post = Model.Posts.FirstOrDefault(x => x.Id == Model.PostId);
        var votes = Model.Votes.Where(x => x.PostId == Model.PostId);
        var url = "";

        url = $"https://localhost:5001/post/comment?category=" + $"{post.Category.Title.ToLower()}&id=" + $"{post.Id}";
        <br />
        <div style="margin-left: 150px; margin-right:100px" ; background: black; font-size: 20px; width: auto;"><a style="color: wheat; right:50px">Topic!</a></div>
        <div style="margin-left:150px; margin-right:100px">
            <div style="font-size: 12px; color:black; background:yellow">
                @post.Author.DisplayName
            </div>
            <div style="font-size: 12px; color:black; background:gray">
                Posted: @post.CreatedOn
            </div>
            <div style="font-size: 42px; background:lightblue; text-align:left">
                <a>@post.Title</a>
                <br />
                <div class="top-menu">
                    <a style="font-size: 22px; color:black">@post.Content</a>
                
                          <ul class="nav pull-right top-menu">
                                <li>
                                    <a class="logout" style="color:black" onclick="createPopupWin('@url','Comment', 550, 250, 1350, 350);">
                                        Comment
                                    </a>
                                </li>
                            </ul>

                    <div class="top-menu">
                        <br />
                        <ul class="nav pull-right top-menu" style="margin-right:auto;">
                            <li>
                                <script>
                                    fetch('https://localhost:5001/api/votes')
                                    .then((res) => res.json())
                                </script>
                                @{
                                    var voteUpUrl = $"https://localhost:5001/post/vote?postid=" + $"{@post.Id}" + "&type=up" + "&comment=true" + $"&page={@Model.PageNumber}";
                                    var urlBack = $"https://localhost:5001/Categories/Post?category=" + $"{Model.CategoryName}" + "&id=" + $"{@post.Id}" + $"&page={@Model.PageNumber}";
                                }
                                <form action='@voteUpUrl' method='POST'>
                                    <input type='hidden' name='voteType' value='1' />
                                    <img src="~/assets/img/icons/raise-the-roof-smiley-emoticon.gif" title="Upvote" width="33" style="margin-left:auto; margin-right:auto;" />
                                    <button type="submit" onsubmit="location.href('@urlBack')" style="font-size: 20px; text-align: center; background-color: yellow; color: forestgreen">@votes.Where(x => x.PostId == @post.Id).Where(x => x.VoteType == Forum.Data.Enums.VoteType.Upvote).Count() </button>
                                </form>
                            </li>
                            <li>
                                <h1> - </h1>
                            </li>
                            <li>
                                @{
                                    var voteDownUrl = $"https://localhost:5001/post/vote?postid=" + $"{@post.Id}" + "&type=down"+ "&comment=true" + $"&page={@Model.PageNumber}";
                                }
                                <form action='@voteDownUrl' method='POST'>
                                    <input type='hidden' name='voteType' value='-1' />
                                    <button type="submit" onsubmit="location.href('@urlBack')" style="text-align:center; font-size:20px;color:yellow; background-color:forestgreen">@votes.Where(x => x.PostId == @post.Id).Where(x => x.VoteType == Forum.Data.Enums.VoteType.Downvote).Count()</button>
                                    <img src="~/assets/img/icons/uglymad2.gif" title="Downvote" width="44" />
                                </form>
                                <div id="vote" style="color:white;" class="centerlize"><a></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div style="background: white; text-align:center; color: white; font-size: 20px; width: auto;"> </div>
            <a>Comments:</a>
            <br />
            <br />
            <div style="height:2px; background-color:red"></div>
            <br />
            <div style="width: 800px; margin-left: auto; margin-right: auto">
                @{
                    var comments = post.Comments.OrderByDescending(x => x.CreatedOn);

                    foreach (var comment in comments)
                    {
                        <div class="text-black-50" style="text-align:left">
                            <div style="font-size: 12px; color: yellow; background: transparent"> @comment.Author.DisplayName   </div>
                            <div style="font-size: 12px; color: gray; background: transparent "> Posted: @comment.CreatedOn   </div>
                            <div style="color: black; background-color: #a9faff; font-family:'Times New Roman';  font-size: 20px;">
                                @comment.Content
                                <ul class="nav pull-right top-menu">
                                    <li><a class="logout" style="color:black" onclick="createPopupWin('@url','Comment', 550, 250, 1350, 350);"> Reply</a></li>
                                </ul>
                            </div>
                            <br />
                            <br />
                        </div>
                    }
                }
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />

        <div class="centerlize" style="font-size:33px;">
            <a style="font-size:12px; color:white">pages:</a>
            @for (int i = 1; i <= Model.Pages; i++)
            {
                url = $"Index?category={Model.CategoryName}&page={@i}";
                <a style="color:lightyellow" href="@url"> @i </a>
            }
        </div>
    }

    }
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/jquery-1.8.3.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.sparkline.js"></script>
    <!--common script for all pages-->
    <script src="~/assets/js/common-scripts.js"></script>
    <script type="text/javascript" src="~/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/assets/js/gritter-conf.js"></script>
    <!--script for this page-->
    <script src="~/assets/js/sparkline-chart.js"></script>
    <script src="~/assets/js/zabuto_calendar.js"></script>


    @*
        <script type="text/javascript">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Hi',
        // (string | mandatory) the text inside the notification
        text: ' user ',
        // (string | optional) the image to display on the left
        image: 'assets/img/ui-alex2.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: true,
        // (int | optional) the time you want it to be alive for before fading out
        time: '',
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
        });

        return false;
        });
        </script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({ html: true, trigger: "manual" });
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    { type: "text", label: "Special event", badge: "00" },
                    { type: "block", label: "Regular event", }
                ]
            });
        });

        function createPopupWin(pageURL, pageTitle,
            popupWinWidth, popupWinHeight) {
            var left = (screen.width - popupWinWidth) / 2;
            var top = (screen.height - popupWinHeight) / 4;

            var myWindow = window.open(pageURL, pageTitle,
                'resizable=yes, width=' + popupWinWidth
                + ', height=' + popupWinHeight + ', top='
                + top + ', left=' + left);
        }

        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }


    </script>

</section>
</html>
