﻿body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url(../img/categories/alpha31.jpg);
  background-size:cover;
  position:relative;

  }

.centerlize{
    font-family: 'Agency FB';
    font-size:80px;
    color:aliceblue;
    text-align-last:center;
  /* padding: 10px 10px 10px 200px;*/
}

.picture {
    margin-left:135px;
    padding-left: 20px;
    padding-bottom: 80px;
    max-height: 450px;
    width: 400px;

}

#sidebar {
    width: 135px;
    height:stretch;
    left: 0px;
    position: fixed;
    background:transparent;
    background-size: inherit;
}

.black-bg {
    background-image: url(../img/categories/alpha31.jpg);
    background-size: cover;
    border-bottom: 1px solid #c9aa5f;
}